@import "tailwindcss";

@theme {
    --color-primary: #2D1E17;
    --color-primary2:#1C1C19;
    --color-secondary: #F7F1E8;
    --color-main:#D0C5B5;
    --color-main2:#F5EFE7;
    --color-deep:#120E0C;
    --color-muted:#78716C;
    --font-jost: "Jost";
    --font-garamond: "Cormorant Garamond";
    --font-noto:"Noto Serif";
    --font-Montserrat:"Montserrat";
   
    
}

@layer base {
    body {
        @apply bg-main;
        @apply text-primary;
    }

    .container {
        @apply mx-auto;
        @apply px-1.25;
        @apply md:px-0;


    }
    a,button,input{
        @apply cursor-pointer;
    }
a{
    @apply inline-block;
}
h1{
    @apply font-garamond;
}
h2{
    @apply font-garamond;
    @apply text-primary;
    @apply text-5xl;
    @apply capitalize;
    @apply text-center;
}
p{
    @apply font-jost;
    @apply text-[10px];
    @apply font-light;
}
}

@utility row {
    @apply flex items-center justify-center;
}
@utility check{
    @apply peer-checked:text-primary2 peer-checked:font-bold transition-all duration-300 group-hover:scale-[1.03] group-hover:opacity-70;
}
@layer components {

    .card-00{
     @apply flex flex-col gap-8 bg-[#E9DDCF] p-6 transition-all duration-300 hover:-translate-y-2 hover:shadow-xl;
     
    }

   .card-01{
    @apply bg-[#E9DDCF] rounded-2xl p-12 flex flex-col h-full gap-8 text-left
                        shadow-md hover:shadow-xl hover:-translate-y-2 transition duration-300;
   } 

   .avatar{
    @apply w-full h-full rounded-full object-cover
                     transition-all duration-700 ease-out
                     group-hover:scale-110 group-hover:-rotate-1
                     group-hover:shadow-[0_25px_60px_rgba(26,23,20,0.35)];
   }
.btn-1{
@apply font-jost text-white text-[10px] font-light leading-3.75 tracking-[3px] py-4 px-[107.85px] bg-primary transition-all duration-300 hover:tracking-[4px] hover:font-medium;
}
.btn-2{
    @apply px-8 py-3 text-primary font-jost font-light text-xs uppercase hover:opacity-80 hover:bg-primary hover:text-white transition-all;
    
}
.link-hover{
    @apply transition duration-300 ease-in-out hover:opacity-70;
}
}
